* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bg-1 {
    background-color: rgb(221, 191, 191);
}

.bg-accept {
    border: 1px solid rgb(60, 211, 80);
    background-color: rgb(162, 241, 159);
    text-align: center;
}

.bg-error {
    border: 1px solid rgb(211, 60, 60);
    background-color: rgb(241, 133, 133);
    text-align: center;
}

.bg-danger {
    border: 1px solid rgb(148, 140, 37);
    background-color: rgb(233, 220, 149);
    text-align: center;
}

.bg-selected {
    border: 1px solid rgb(30, 60, 231);
    background-color: rgb(147, 155, 231);
    text-align: center;
}

.bg-quiz {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.main {
    max-width: 350px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 4px #ccc;
    display: flex;
    flex-direction: column;
}


.main_header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

.main_header h1 {
    text-align: center;
    font-size: 1.1rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: 9fr 2fr 1fr;
    align-items: center;
}

.main_header h1 span {
    border: 1px solid #ccc;
    margin: 10px 0;
}

.msg {
    width: 100%;
    display: flex;
    text-align: center;
}

.msg span {
    font-size: 1.1em;
    text-align: center;
    width: 100%;
    padding: 10px;
}

/* FORMULARIO */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formulas {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

/* VISOR */
.visor {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.visor span {
    flex: 1 1 50%;
    padding: 5px 10px;
    font-size: 2.4rem;
    text-align: center;
}

.visor .numeroVisorResult {
    width: 100%;
}

.numeroReal {
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    margin: 20px 0;
}

.numeroReal input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
}

.numeroReal .btnChecar {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.botoes {
    width: 100%;
    display: flex;
    text-align: center;
    margin: 20px 0;
}

.botoes button {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
}